@import url(http://fonts.googleapis.com/css?family=Vidaloka);


body {
	background-color: #ddd;
	font-family: "Vidaloka", serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: #444;
	padding: 20px;
	padding-left: 40px;
}

#sketchpad input {
	width: 170px;
}

#sketchpad label {
	font-size: .8em;
	color: #333;
	
	padding-left: 10px;
	top: -0.35em;
	position: relative;
}

#sketchpad .lpv {
	color: #8d59aa;
}

canvas#sketchpadCanvas {
	border: 1px solid #aaa;
	-moz-box-shadow: 0 2px 25px #c4c4c4;
	-webkit-box-shadow: 0 2px 25px #c4c4c4;
	-ms-box-shadow: 0 2px 25px #c4c4c4;
	-o-box-shadow: 0 2px 25px #c4c4c4;
	box-shadow: 0 2px 25px #c4c4c4;
	
	margin-top: 10px;
	margin-bottom: 25px;
}